<div class="keyword-container">
    {{#link-to 'news' 1}}
        <span class="keyword">
            Refugees
        </span>
    {{/link-to}}

    {{#each model as |keyword|}}
        {{#link-to 'demo'}}
            <span class="keyword">{{keyword}}</span>
        {{/link-to}}
    {{/each}}
</div>