<div class="left-side">
    <button {{action "previousNews"}}>Previous</button>
    <iframe src="{{model.0.url}}"></iframe>
    <button {{action "nextNews"}}>Next</button>
</div>
<div class="right-side">
    {{modal-slide}}
</div>