@import 'variables';

@import url(https://fonts.googleapis.com/css?family=Roboto+Slab:400,700);

body {
    font-family: 'Roboto Slab', serif;
    // display: block;
    // height: 100vh;
    background-image: url('images/cool_bg.png'), -webkit-radial-gradient(50% 100%, circle, rgba(0, 0, 0, 0.45) 1%, rgba(0, 0, 0, 0.81) 91%);
    background-image: url('images/cool_bg.png'), radial-gradient(circle at 50% 100%, rgba(0, 0, 0, 0.45) 1%, rgba(0, 0, 0, 0.81) 91%);
    background-size: cover;

    a {
        text-decoration: none;
        color: inherit;
    }

    a:hover {
        color: #FF1111;
    }
}

#title-bar {
    position: fixed;
    width: 100%;
    height: $title-bar-height;
    background-color: #FFFFFF;
    border-bottom: 1px solid $title-bar-border-color;

    p.title-text {
        position: relative;
        line-height: $title-bar-height;
        margin: 0 0 0 20px;
        font-weight: bold;
        font-size: 30px;
    }
}

#main-content {
    position: absolute;
    width: 100%;
    top: $title-bar-height + $content-top-margin;
    bottom: 20px;

    // index page
    .keyword-container {
        position: relative;
        margin: 0 20px;

        a {
            margin-right: 20px;
        }
    }

    // news page
    .left-side {
        position: relative;
        height: 100%;
        width: 55%;
        float: left;
        background-color: #FFFFFF;
        border: 1px solid #000000;
        margin-left: 10px;

        button.previous {
            position: absolute;
            top: 50%;
            left: 10px;
        }

        button.next {
            position: absolute;
            top: 50%;
            right: 10px;
        }

        .iframe-container {
            width: 150px;
            height: 150px;
            border: 1px solid #000000;
            margin: 0 10px 10px 0;
        }
    }

    .right-side {
        position: relative;
        height: 100%;
        width: 35%;
        float: right;
        background-color: #FFFFFF;
        border: 1px solid #000000;
        margin-right: 10px;
    }
}